
body {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #ffffff;
}
.clear {
	clear: both;
}
#banner {
	height: 89px;
	background: #0c356b;
}
#wrapper {
	width: 900px;
	margin: 0 auto;
}

header {
	width: 900px;
	margin: 0 auto;
	margin-bottom: 20px;
	color: #ffffff;
}
nav li {
	font-size: larger;
	font-weight: bold;
	list-style-type: none;
	position: relative;
	width: 110px;
	height: 31px;
	float: left;
	text-align: center;
	padding-top: 9px;	
}
nav li:first-child {
	font-size: larger;
	font-weight: bold;
}
nav a{
	color: #ffffff;
	text-decoration:none;
}
nav li:hover, nav li a:hover {
	color: #FFBD5C;
}
nav li ul{
	position: absolute;
	margin: 0px;
	padding: 0px;
	left: -1px;
	top: 40px;
	display: none;
}
nav li:hover ul {
	background: #0c356b;
	display: block;
}
nav li ul a:hover {
	color: #FFBD5C;
}
nav li ul li a {
	font-size: 16px;
}
nav li ul li:first-child {
	font-size: 20px;
}
form {
	border-bottom:1px solid black;

}